.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 100px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}
.main {
  width: 1280px;
  margin: auto;
  text-align: center;
}
.text {
  margin: 40px;
  font-size: 18px;
  line-height: 29px;
  color: #141024b2;
}
.list {
  width: 800px;
  margin: auto;
  text-align: justify;
}
.link {
  color: #200a77;
  text-decoration: underline;
  display: inline-block;
  margin: 0 10px;
}
.link:hover {
  color: #694be2;
}
.listItem {
  padding: 5px 0;
}
.numItem {
  color: #200a77;
  margin-right: 10px;
}
