.container {
  width: 1280px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
}
.listItem {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #200a77;
}
.contentWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.textContainer {
  width: 800px;
  text-align: justify;
}
.date {
  font-size: 14px;
  color: #666;
}
